EXPO_PUBLIC_API_URL=https://your-production-api.example.com
EXPO_PUBLIC_ENABLE_DEMO_ENTRY=false
EXPO_PUBLIC_ENABLE_TESTER_FEEDBACK=true
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDoNi4bZKQe2kSKAgVX6zmlE0swqOZhPe8
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=studynova-f6859.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=studynova-f6859
EXPO_PUBLIC_FIREBASE_APP_ID=1:268039439117:web:c68bbcdc22efbd69bae644
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=studynova-f6859.firebasestorage.app
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=268039439117-3p8tcbgu7h021graqimnd5tu2r5jt1od.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-google-android-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
